.page-footer {
  padding: 0 20px;
  background-color: #ffffff;
}

.page-footer__wrapper {

}

.page-footer__contacts {

}

.page-footer__visit {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.page-footer__social {

}

.page-footer__copyright {

}
