.causes {
  padding: 0 20px;
  background-color: #ffffff;
}

.causes__wrapper {

}

.causes__title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.causes__advantage {
  padding: 0 20px;
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
}

.causes__advantage--background {
  background-color: #81b3d2;
}

.causes__subtitle {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.causes__number {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.causes__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.causes__image {

}

.causes__list {
  padding: 0 20px;
  background-color: #ffffff;
  list-style: none;
}

.causes__item {
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.causes__item--hotel {
  background-image: url("../img/icon-house.svg");
}

.causes__item--gifts {
  background-image: url("../img/icon-gift.svg");
}

.causes__item--food {
  background-image: url("../img/icon-burger.svg");
}

.causes__title-list {
  padding-left: 52px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.causes__description {
  padding-left: 52px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
