.causes {
  background-color: #ffffff;
}

.causes__title {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.causes__advantage {
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
}

.causes__advantage--background {
  background-color: #81b3d2;
}

.causes__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.causes__number {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.causes__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.causes__list {
  margin: 0;
  text-align: left;
  background-color: #ffffff;
  list-style: none;
}

.causes__item {
  padding-left: 52px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 40px 35px;
}

.causes__item--hotel {
  background-image: url("../img/icon-house.svg");
}

.causes__item--gifts {
  background-image: url("../img/icon-gift.svg");
}

.causes__item--food {
  background-image: url("../img/icon-burger.svg");
}

.causes__title-list {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.causes__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.causes__description-list {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .causes__list {
    display: flex;
    justify-content: space-between;

    text-align: center;
  }

  .causes__item {
    width: 156px;
    padding-left: 0;
    padding-top: 160px;
    background-position: 60px 90px;
    background-size: 77px 68px;
  }

  .causes__wrapper {
    display: flex;
  }

  .causes__description--right {
    order: 2;
  }

  .causes__image--left {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .causes__list {
    display: flex;
  }

  .causes__wrapper {
    display: flex;
  }

  .causes__description--right {
    order: 2;
  }

  .causes__image--left {
    order: 1;
  }
}
