.find-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.find-hotel__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.find-hotel__text {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.find-hotel__button {
  bakcground-color: red;
  display: block;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.find-hotel__map {
  width: 320px;
  height: 350px;
  background-color: #f3f1ed;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .find-hotel__map {
    width: 768px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .find-hotel__map {
    width: 1200px;
    height: 350px;
  }
}
