.form {
  padding: 0 20px;
  background-color: #ffffff;
}

.form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.form__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.form__label {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .form__filter {
    width: 648px;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .form__login {
    order: 2;
  }

  .form__contacts {
    order: 3;
    width: 648px;
  }

  .form__filters {
    order: 1;
  }

  .form__attraction {
    display: flex;
    flex-wrap: wrap;
  }

  .form__attraction p:nth-child(1) {
    order: 1;
  }

  .form__attraction p:nth-child(2) {
    order: 3;
  }

  .form__attraction p:nth-child(3) {
    order: 2;
  }

  .form__attraction p:nth-child(4) {
    order: 4;
  }
}

@media (min-width: @desktop-width) {
  .form__filter {
    width: 960px;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .form__login {
    order: 2;
  }

  .form__contacts {
    display: flex;
    order: 3;
    width: 960px;
  }

  .form__filters {
    order: 1;
  }

  .form__attraction {
    display: flex;
    justify-content: space-between;
  }

  .form__attraction p:nth-child(1) {
    order: 1;
  }

  .form__attraction p:nth-child(2) {
    order: 3;
  }

  .form__attraction p:nth-child(3) {
    order: 2;
  }

  .form__attraction p:nth-child(4) {
    order: 4;
  }
}
