.main-nav {
  position: relative;

  width: 320px;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-nav__toggle {
  position: absolute;
  top: 282px;
  right: 20px;
  z-index: 2;

  display: block;
  width: 23px;
  height: 21px;

  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  cursor: pointer;
  border: none;
}

.main-nav__close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;

  width: 23px;
  height: 22px;

  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  cursor: pointer;
  border: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: #81b3d2;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 768px;
    margin: 0 auto;
  }

  .main-nav__list {
    background-color: #ffffff;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__close {
    display: close;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1200px;
    margin: 0 auto;
  }

  .main-nav__list {
    background-color: #ffffff;
  }
}
