.media {
  padding: 0 auto;
  background-color: #ffffff;
}

.media__header {

}

.media__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.media__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.media__list {
  list-style: none;
}

.media__item {

}

.media__item {

}

.media__subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.media__author {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.media__like {
  padding-left: 38px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;

  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
}

.media__presentation {

}
