.page-footer {
  margin: 0 auto;
  margin-top: 40px;
  width: 320px;
  background-color: #ffffff;
}

.page-footer__visit {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    margin: 0 auto;
    width: 768px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1200px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-around;
  }
}
