.site-list__item {
  margin: 0 auto;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.site-list__link {
  text-decoration: none;
}

.site-list__logo {
  display: none;
}

/*@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0 auto;
  }

  .site-list__logo {
    display: block;
  }
}*/

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0 auto;
  }

  .site-list__logo {
    display: block;
  }
}
