.site-list__item {
  margin: 0 auto;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}

.site-list__link {
  text-decoration: none;
}
